In [1]:
x = 23
y = "Ibrahim"
print('This is my name {} and my age is {}'.format(y,x))

This is my name Ibrahim and my age is 23

In [2]:
# tHIS A COMMENT
'''hELLO MY NAME IS IBRAHIM'''
say = "Ibrahim"
n = 0
while n < 20:
    n = n + 1
    print(say)

Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim
Ibrahim

In [3]:
name = "Ibraim"
print(name)
name = "Al muhannad"
print(name)

Ibraim
Al muhannad

In [4]:
CanVolume = "hf"
print(CanVolume)

hf

In [5]:
YEAR = 10
WORK =20
print(10*20)

200

In [6]:
SIX_CAN = 6
OUNCE_TO_LITER = 0.355
#OUNCES_PER_CAN = 12
ONE_BOTTLE_LITER = 2
liters_in_all_can = SIX_CAN * OUNCE_TO_LITER
if liters_in_all_can > ONE_BOTTLE_LITER:
    print("Six Cans")
else:
    print("One bottle")

Six Cans

In [7]:
x = pow(2,3)
x

8

In [8]:
b,r,n = map(eval, input("Enter value for b, r, and n: ").split())

expression = b * (1 + r/100)**n
print(expression)

Enter value for b, r, and n:  12 2 3

12.734496000000002

In [9]:
floor_division = 5//2
floor_division

2

In [10]:
rem = 10%7
rem

3

In [41]:
a = 6 
b = 13 
if b%2==0:
    print("is even")
else:
    print("is odd")

is odd

In [71]:
a = 6 # try changing this to an odd number like 7 to test both cases
b = 13
if a % 2 == 0:
    print(f"{a} is even.")
    # Example: print next 5 even numbers
    for i in range(3):
        a += 2
        print(a)
else:
    print(f"{a} is odd.")
    # Example: print next 5 odd numbers
    for i in range(5):
        a += 2
        print(a)

6 is even.
8
10
12

In [75]:
a = 6
b = 13

print("Even numbers between", a, "and", b)
for i in range(a, b + 1):
    if i % 2 == 0:
        print(i)

print("Odd numbers between", a, "and", b)
for i in range(a, b + 1):
    if i % 2 != 0:
        print(i)

Even numbers between 6 and 13
6
8
10
12
Odd numbers between 6 and 13
7
9
11
13

In [37]:
z = -12
if z < 0:
    z = abs(z)
    print(z)
else:
    print(z)

12

In [13]:
abs(-12)

12

In [14]:
f = 234.85
g = round(f,1)
g

234.8

In [51]:
list = [1,2,3,4,5]
min1 = min(list)
max1 = max(list)
print("The min is {} and max is {}".format(min1,max1))

The min is 1 and max is 5

In [53]:
from math import sqrt

In [65]:
y = 144
ss = sqrt(y)
ss

12.0

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4