In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'http://books.toscrape.com/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

books = soup.find_all('article', class_='product_pod')

product_names = [book.h3.a['title'] for book in books]
prices = [book.find('p', class_='price_color').text for book in books]

df = pd.DataFrame({
    'Product Name': product_names,
    'Price': prices
})

df.to_csv('books.csv', index=False)

In [2]:
books = pd.read_csv('books.csv')
books

                                         Product Name    Price
0                                A Light in the Attic  Â£51.77
1                                  Tipping the Velvet  Â£53.74
2                                          Soumission  Â£50.10
3                                       Sharp Objects  Â£47.82
4               Sapiens: A Brief History of Humankind  Â£54.23
5                                     The Requiem Red  Â£22.65
6   The Dirty Little Secrets of Getting Your Dream...  Â£33.34
7   The Coming Woman: A Novel Based on the Life of...  Â£17.93
8   The Boys in the Boat: Nine Americans and Their...  Â£22.60
9                                     The Black Maria  Â£52.15
10     Starving Hearts (Triangular Trade Trilogy, #1)  Â£13.99
11                              Shakespeare's Sonnets  Â£20.66
12                                        Set Me Free  Â£17.46
13  Scott Pilgrim's Precious Little Life (Scott Pi...  Â£52.29
14                          Rip it Up and Start Again  Â£35.02
15  Our Band Could Be Your Life: Scenes from the A...  Â£57.25
16                                               Olio  Â£23.88
17  Mesaerion: The Best Science Fiction Stories 18...  Â£37.59
18                       Libertarianism for Beginners  Â£51.33
19                            It's Only the Himalayas  Â£45.17

In [3]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product Name  20 non-null     object
 1   Price         20 non-null     object
dtypes: object(2)
memory usage: 452.0+ bytes

In [4]:
books.isnull().sum()

Product Name    0
Price           0
dtype: int64

In [5]:
books.duplicated().sum()

0

In [6]:
low = books.min()
low

Product Name    A Light in the Attic
Price                        Â£13.99
dtype: object

In [7]:
high = books.max()
high

Product Name    Tipping the Velvet
Price                      Â£57.25
dtype: object

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'http://quotes.toscrape.com/'
response = requests.get(url)

#Parse the page content
soup = BeautifulSoup(response.text, 'html.parser')

quote = soup.find_all('span', class_='text')
by_who = soup.find_all('small', class_='author')

data = {
    'Quote': [QUOTE.text.strip() for QUOTE in quote],
    'By who': [WHO.text.strip() for WHO in by_who]
}

df = pd.DataFrame(data)

df.to_csv('Quote.csv', index=False)

In [9]:
quote1 = pd.read_csv('Quote.csv')
quote1

                                               Quote             By who
0  “The world as we have created it is a process ...    Albert Einstein
1  “It is our choices, Harry, that show what we t...       J.K. Rowling
2  “There are only two ways to live your life. On...    Albert Einstein
3  “The person, be it gentleman or lady, who has ...        Jane Austen
4  “Imperfection is beauty, madness is genius and...     Marilyn Monroe
5  “Try not to become a man of success. Rather be...    Albert Einstein
6  “It is better to be hated for what you are tha...         André Gide
7  “I have not failed. I've just found 10,000 way...   Thomas A. Edison
8  “A woman is like a tea bag; you never know how...  Eleanor Roosevelt
9  “A day without sunshine is like, you know, nig...       Steve Martin

In [10]:
quote1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Quote   10 non-null     object
 1   By who  10 non-null     object
dtypes: object(2)
memory usage: 292.0+ bytes

In [11]:
quote1.isnull().sum()

Quote     0
By who    0
dtype: int64

In [12]:
quote1.duplicated().sum()

0

In [33]:
loc = quote1.loc[:,['By who']]
loc

              By who
0    Albert Einstein
1       J.K. Rowling
2    Albert Einstein
3        Jane Austen
4     Marilyn Monroe
5    Albert Einstein
6         André Gide
7   Thomas A. Edison
8  Eleanor Roosevelt
9       Steve Martin